/* Cyberbulling images styles */

.cyberImg {
    width: 100%;
    margin: 10px auto;
}

.imgBorder {
    border: solid 1px black;
}

#pewGraph {
    float: right;
    width: 40%;
    min-width: 400px;
    margin-left: 10px;
    max-width: 430px;
}

aside {
    float: right;
    width: 30%;
    background-color: lightgrey;
    margin: 10px;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    aside {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px auto;
    }

    #pewGraph {
        display: block;
        width: 100%;
        margin-left: 0 !important; 
    }
}

@media screen and (max-width: 600px) {
    
}
