/*media view used to only enable hover on desktop view -please remember that any styling you do here MUST be done to the next breakpoint as well or it will not show on smaller viewports. this is unfortunately how it needs to be done
to have boxes that spin on desktop view but can be clicked on a smaller viewport*/
@media only screen and (min-width : 1200px) {
  main{
    padding-bottom: 50%;
  }
  /*flip around boxes*/
  /*spin arrow /expand icon + switching paragraphs based on viewport*/
  /*spin arrow icon*/
  .flipboxHeader1{
  text-align: center;
}
  .spinArrow{
    max-width: 10%;
    position: static;
  }
  
  /*expand icon*/
  .expand{
    display: none;
  }
  /*collapsible is the button to expand*/
  .collapsible{
    border:0ch;
  }
  .flipboxHeader1{
    font-size: 25px;
  }
  /*end of icon + buttons*/
  
  /*flip image styling applicable to all boxes*/
  /*this is the image on the front*/
  .flipImageFront{
    max-width: 100%;
    border-radius: 10%;
    }        
   /*this is the front and back*/       
  .flip-box-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /*this is the front and back*/
  .flip-box-front, .flip-box-back {
    position:absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /*this is only the front*/        
  .flip-box-front {
    background-color: transparent;
    color: black;
    max-width: 80%;
    width: 500px;
    height: 500px;
  }
  /*this is only the back*/ 
  .flip-box-back {
    background-color: rgb(200, 210, 217);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    margin-top: 0%;
  }
  
  /*areas of flipboxes that require individual styling due to absolute positioning - absolute position is required
  otherwise the front and back cant overlap and spin to reveal one another, but rather take individual space*/
  /*flip box one on left of site*/
  .flip-box {
    background-color: transparent;
    max-width: 30%;
    perspective: 1000px;
    margin-inline-start: 13%;
    margin-top: 5%;
  }
  /*spin code*/
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    margin-bottom: 150%;
  }
  
  .flip-box2 {
    background-color: transparent;
    max-width: 29%;
    perspective: 1000px;
    margin-inline-start: 60%;
    padding-bottom: 30%;
    margin-top: -2%;
  }
  
  .flip-box2:hover .flip-box-inner {
    transform: rotateY(180deg);
    padding-bottom: 150%;
  }
  
  .flip-box3 {
    background-color: transparent;
    max-width: 30%;
    perspective: 1000px;
    margin-inline-start: 13%;
    padding-top: 5%;
    margin-bottom: 5%;
  }
  
  .flip-box3:hover .flip-box-inner {
    transform: rotateY(180deg);
    padding-bottom: 150%;
  }
  
  .flip-box4 {
      background-color: transparent;
      max-width: 29%;
      perspective: 1000px;
      margin-inline-start: 60%;
      padding-bottom: 30%;
      margin-top: -7%;
  }
  
  .flip-box4:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box5 {
    background-color: transparent;
    max-width: 30%;
    perspective: 1000px;
    margin-inline-start: 13%;
  }
  
  .flip-box5:hover .flip-box-inner {
    transform: rotateY(180deg);
    margin-bottom: 80%;
  }
}
  /*end of flip arounds*/
  /*end of boxes styling*/
  
  /*end of desk top view*/

  /*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 1200px) {
    
    /*flip around boxes all code for boxes must be here regardless of if it is in the above section
    above boxes section is in a media view and will not be displayed here*/
    .flipboxHeader1{
      font-size: 23px;
    }
    /*arrow and expand icons and button start*/
    .spinArrow{
      max-width: 10%;
      display: none;
    }
    .expand{
      max-width: 12%;
    }
    .collapsible{
      background-color: rgb(241, 241, 241);
      border: none;
      cursor: pointer;
    }
   
    /*arrow expand and button end*/
  
    .flipImageFront{
      max-width: 100%;
      border-radius: 10%;
      
      }          
    .flip-box-inner {
      width: 100%;
      height: 100%;
      text-align: center;
    }
    
    .flip-box-front, .flip-box-back {
      position:relative;
    }
            
    .flip-box-front {
      background-color: transparent;
      color: black;
      display: block;
    }
    
    .flip-box-back {
      background-color: rgb(200, 210, 217);
      color: rgb(0, 0, 0);
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 15px;
      width: 100%;
      display: none;
    }
    
  /*areas of flipboxes that require individual styling*/
  .flip-box {
    max-width: 30%;
    perspective: 1000px;
    margin-inline-start: 10%;
    float: left;
  }
  
  .flip-box2 {
    background-color: transparent;
    width: 29%;
    perspective: 1000px;
    margin-inline-start: 60%;
    padding-top: 0.1%;
  }
  
  .flip-box3 {
    background-color: transparent;
    width: 30%;
    perspective: 1000px;
    margin-inline-start: 10%;
    float: left;
    clear: both;
    padding-top: 2%;
  }
  
  
  .flip-box4 {
      background-color: transparent;
      width: 29%;
      perspective: 1000px;
      margin-inline-start: 60%;
      padding-top: 2%;
  }
  
  .flip-box5 {
    background-color: transparent;
    max-width: 30%;
    perspective: 1000px;
    margin-inline-start: 10%;
    padding-top: 2%;
    clear: both;
    margin-bottom: 5%;
  }
}
  
/*end of flip arounds*/

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 800px) {   
      
  /*flip around boxes*/
  .flipImageFront{
    max-width: 50%;
    border-radius: 10%;
    }          
        
  
  .flip-box-back {
    background-color: rgb(200, 210, 217);
    color: rgb(0, 0, 0);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
    display: none;
    max-width: 100%;
  }
  
    /*areas of all flipboxes that require individual styling*/
    .flip-box {
    max-width: 85%;
    padding-bottom: 5%;
    perspective: 1000px;
    margin-inline-start: 10%;
    float: none;
    }
    
    .flip-box2 {
        width: 85%;
        padding-bottom: 5%;
        perspective: 1000px;
        margin-inline-start: 10%;
    }

    .flip-box3 {
    width: 85%;
    padding-bottom: 5%;
    perspective: 1000px;
    margin-inline-start: 10%;
    float: none;
    }

    .flip-box4 {
        width: 85%;
        padding-bottom: 5%;
        perspective: 1000px;
        margin-inline-start: 10%;
    }

    .flip-box5 {
    max-width: 85%;
    padding-bottom: 5%;
    perspective: 1000px;
    margin-inline-start: 10%;
    }
}