.grid-container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'header header header header header header'
        'main main main main main main'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: .5em;
    margin: auto;
}