/*.pocimg and .imgCitations are the same as 
styleaccessibility.css and stylesWomen.css*/
.pocimg{
  max-width: 70%;
  margin-inline-start: 15%;
}

.imgCitations{
  margin-inline-start: 40%;
  clear: both;
}

aside {
  width: 30%;
  padding: 15px;
  margin-left: 15px;
  float: right;
  background-color: lightgray;
}

/*q is only new style added for pull quote*/
q{
    font-weight: 300;
    font-size: 25pt;
    line-height: 1.3em;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
sub.q{
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1000px){ 
  .pocimg{
    max-width: 100%;
    margin-inline-start: 0%;
      }
      
    aside{
      float: none;
      width: 90%;
    }
} 
@media screen and (max-width: 800px) {
 
  aside {
    margin-left: 0;
  }

  .imgCitations{
    margin-inline-start: 5%;
    clear:both;
  }
    
}
