/*.pocimg and .imgCitations are the same as 
styleaccessibility.css and stylesWomen.css*/
.pocimg{
  max-width: 70%;
  margin-inline-start: 15%;
}

.imgCitations{
  margin-inline-start: 40%;
  clear: both;
}

aside {
  width: 30%;
  /* If padding or margin have the same measurements on all sides no need to specify left bottom right etc */
  padding: 15px;
  /*right and bottom padding added by Gabi to center text and provide same padding all round
  padding-right: 15px;
  padding-bottom: 15PX;*/
  margin-left: 15px;
  float: right;
  background-color: lightgray;
}

/*q is only new style added for pull quote*/
q{
    font-weight: 300;
    font-size: 25pt;
    line-height: 1.3em;
    position: relative;
    display: block;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
sub.q{
    font-size: 10pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*this breakpoint added by Gabi 02/05/2022 to allow images to be larger for tablet view*/
@media screen and (max-width: 1000px){ 
  .pocimg{
    max-width: 100%;
    margin-inline-start: 0%;
      }
      /*added by Gabi 02/05/2022 to allow aside to center on screen*/
    aside{
      float: none;
      width: 90%;
    }
} 
@media screen and (max-width: 800px) {
  /*no need for this as it now starts at a larger screen size*/
   /*.pocimg{
      max-width: 100%;
      margin-inline-start: 0%;
        }*/
    .imgCitations{
      margin-inline-start: 5%;
      clear:both;
    }
    
}
