.grid-container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'header header header header header header'
        'main main main main main main'
        'main main main main main main'
        'footer footer footer footer footer footer';

    grid-gap: .5em;
    /*
    PADDING AND WIDTH REMOVED FROM HERE
    to enable navbar to stick to the top, grid was applying marging and padding to it - Giulia
    Same for footer
    padding: .5em;
    width adjusted to 75% from 62em
    */
    margin: auto;
}

nav {
    grid-area: nav;
    background-color: rgb(0, 67, 11);
    display: block;
    /*position: sticky;*/ 
    /*when sticky or fixed is on the boxes and the nav have issues with overlapping, 
    boxes must have absolute position or else they don't flip over correctly- we need to resolve this Gabi 20/04*/
    top: 0;
    width: 100%;
    height: 60px;
    
}

nav ul {
    text-align: right;
    margin: 10px;
    
}

nav li {
    display: inline;
    margin-right: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    /*font-family: 'Playfair Display', serif;  */ 
}

#nav a {
    text-decoration: none;
    /*text color changed by Gabi 17/04*/
    color: rgb(255, 255, 255);
    padding: 10px;
}

#nav a:hover {
    /*hover color changed by Gabi 17/04*/
    background-color: rgb(144, 187, 109);
    border-radius: 15px;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /*background color changed by Gabi 17/04*/
    background-color: rgb(0, 67, 11);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: 10px;
    z-index: 1;
  }

  .dropMenuItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*nav ends here*/

body{ /*background color changed slightly lighter Gabi 17/04*/
    background-color: rgb(197, 198, 197);
    font-family: 'Playfair Display', serif;
    margin: 0;
}

main {
    grid-area: main;
    background-color: rgb(241, 241, 241);
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    max-width: 60%;
    margin-top: 10px;
    margin: auto;
    padding-bottom: 50%;
    width: 55%;
}

header{
    grid-area: header;
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin: auto;
    max-width: 55%;
    }

 h1{
    font-family: 'EB Garamond', serif;
    text-decoration: underline solid 1px black;
    }

  footer {
    background-color: rgb(144, 187, 109);
    bottom: 0;
    width: 100%;
    height: auto; /*can change to adapt to content later*/
  }

  footer{
    grid-area: footer;

    }
.footerimgs{
    max-width: 10%;
}

.footerimgs2{
    max-width: 8%;
}
 
/*flip around boxes*/
.spinArrow{
  max-width: 10%;
}
.flipImageFront{
  max-width: 100%;
  border-radius: 10%;
  }        
        
.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front, .flip-box-back {
  position:absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
        
.flip-box-front {
  background-color: transparent;
  color: black;
}

.flip-box-back {
  background-color: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 15px;
}

/*areas of all flipboxes that require individual styling*/
.flip-box {
  background-color: transparent;
  max-width: 30%;
  perspective: 1000px;
  margin-inline-start: 13%;
  padding-top: 5%;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  padding-bottom: 100%;
}

.flip-box2 {
  background-color: transparent;
  width: 30%;
  perspective: 1000px;
  margin-inline-start: 60%;
  padding-bottom: 33%;
}

.flip-box2:hover .flip-box-inner {
  transform: rotateY(180deg);
  padding-bottom: 90%;
}

.flip-box3 {
  background-color: transparent;
  width: 30%;
  perspective: 1000px;
  margin-inline-start: 13%;
}

.flip-box3:hover .flip-box-inner {
  transform: rotateY(180deg);
  padding-bottom: 75%;
}

.flip-box4 {
    background-color: transparent;
    width: 30%;
    perspective: 1000px;
    margin-inline-start: 60%;
    padding-bottom: 33%;
}

.flip-box4:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box5 {
  background-color: transparent;
  max-width: 30%;
  perspective: 1000px;
  margin-inline-start: 13%;
}

.flip-box5:hover .flip-box-inner {
  transform: rotateY(180deg);
}
/*end of flip arounds*/
/*end of boxes styling*/



/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {

  .grid-container {
        display: grid;
        grid-template-areas:
    'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
  
      /*  TEMPORARELY COMMENTED OUT TO AVOID ERROR TRIGGERING
      main {
      }
      footer {
      }*/
  }



/*SECOND BREAK POINT === mobile */
 @media only screen and (max-width : 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
    'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    /*changing boxes to show one by one on mobile view*/
    .collapsible {
        float:none;
        margin-left: 5%;
        margin-right: 5%;
        padding: .3%;
        width: 90%;
        text-align: center;
        padding-left: 0%;
        border-radius: .5%;
        vertical-align: middle;
      }
        
      .active, .collapsible:hover {
        background-color: rgb(141, 194, 124);
      }
          
      .content {
        float: none;
        clear: both;
        margin-left: 5%;
        padding:  5%;
        border-radius: 10%;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
        max-width: 80%;
      }
          
      .collapsible2 {
            float:none;
            margin-left: 5%;
            margin-right: 5%;
            padding: .3%;
            width: 90%;
            text-align: center;
            padding-left: 0%;
            border-radius: .5%;
            vertical-align: middle;
          }
          .active, .collapsible2:hover {
            background-color: rgb(141, 194, 124);
          } 
      .content2 {
        float: none;
        clear: both;
        margin-left: 5%;
        padding:  5%;
        border-radius: 10%;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
        max-width: 80%;
      }
        /*  TEMPORARELY COMMENTED OUT TO AVOID ERROR TRIGGERING
        main {

        }
        footer {
        }
        */
    }


    