.grid-container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'header header header header header header'
        'main main main main main main'
        'main main main main main main'
        'footer footer footer footer footer footer';

    grid-gap: .5em;
    /*
    PADDING AND WIDTH REMOVED FROM HERE
    to enable navbar to stick to the top, or grid was applying marging and padding to it - Giulia
    padding: .5em;
    width adjusted to 75% from 62em
    */
    margin: auto;
}

nav {
    grid-area: nav;
    background-color: rgb(0, 67, 11);
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    
}

nav ul {
    text-align: right;
    margin: 10px;
    
}

nav li {
    display: inline;
    margin-right: 40px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display', serif;   
}

#nav a {
    text-decoration: none;
    /*text color changed by Gabi 17/04*/
    color: rgb(255, 255, 255);
    padding: 10px;
}

#nav a:hover {
    /*hover color changed by Gabi 17/04*/
    background-color: rgb(144, 187, 109);
    border-radius: 15px;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /*background color changed by Gabi 17/04*/
    background-color: rgb(0, 67, 11);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: 10px;
    z-index: 1;
  }

  .dropMenuItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*nav ends here*/

body{ /*background color changed slightly lighter Gabi 17/04*/
    background-color: rgb(190, 190, 190);
    font-family: 'Playfair Display', serif;
    margin: 0;
}

main {
    grid-area: main;
    background-color: rgb(225, 225, 225);
    border-radius: 10%;
    padding: 5%;
<<<<<<< HEAD
    max-width: 75%;
    margin: auto;
=======
    padding-bottom: 50%;
>>>>>>> 20982cb4af8bd4ae1a7799b8aafbe7151d5b3009
}
header{
    grid-area: header;
    background-color: rgb(225, 225, 225);
    border-radius: 10%;
    padding: 5%;
    max-width: 85%;
    margin: auto;
    }

 h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline solid 1px black;
    }
    
/*collapsable boxes start here -code on how to do this from https://www.w3schools.com/howto/howto_js_collapsible.asp code modified for our site by Gabi*/
    
.collapsible {
    float: left;
    margin-left: 5%;
    color: white;
    cursor: pointer;
    padding: .3%;
    width: 35%;
    text-align: left;
    padding-left: 5%;
    background-color: #176914;
    border-radius: 5%;
    outline: none;
    font-family: 'Playfair Display', serif;
    clear: left;
  }

  .active, .collapsible:hover {
    background-color: rgb(141, 194, 124);
  }
  
  .content {
    float: left;
    clear: both;
    margin-left: 5%;
    padding:  18px;
    display: none;
    overflow: hidden;
    background-color: #d2d2d2;
    border-radius: 10%;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    max-width: 32%;
    margin-bottom: 1%;
  }
      
.collapsible2 {
  margin-right: 5%;
  margin-left: 20%;
  color: white;
  cursor: pointer;
  padding: .3%;
  width: 35%;
  text-align: left;
  padding-left: 5%;
  background-color: #176914;
  border-radius: 5%;
  outline: none;
  font-family: 'Playfair Display', serif; 
  display:inline-block;
  
}
.active, .collapsible2:hover {
  background-color: rgb(141, 194, 124);
}
.content2 {
  margin-inline-start: 60%;
  padding:  18px;
  display: none;
  overflow: hidden;
  background-color: #d2d2d2;
  border-radius: 10%;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  max-width: 32%;
  margin-bottom: 1%;
}


<<<<<<< HEAD
  /*images with spin around inside boxes starts here Gabi*/
  /*setting size of images*/
  .smallimg{
    max-width: 35%;
    border-radius: 50%;
    margin-inline-start: 30%;
}


/*fliping around images starts here - how to do this from https://www.w3schools.com/howto/howto_css_flip_image.asp code edited to suit our needs by Gabi*/
.flip-box {
  background-color: transparent;
  margin-bottom: 40%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

/*end of flip arounds*/
/*end of boxes styling*/
=======
      /*images with spin around inside boxes starts here Gabi*/
      /*setting size of images*/
      .smallimg{
        max-width: 35%;
        border-radius: 50%;
        margin-inline-start: 30%;
    }
    /*fliping around images starts here - how to do this from https://www.w3schools.com/howto/howto_css_flip_image.asp code edited to suit our needs by Gabi*/
    .flip-box {
        background-color: transparent;
        margin-bottom: 40%;
        perspective: 1000px;
      }
      
      .flip-box-inner {
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
      }
      
      .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-box-front {
        background-color: #bbb;
        color: black;
      }
      
      .flip-box-back {
        background-color: #555;
        color: white;
        transform: rotateY(180deg);
      }
           /*test code for flip drop down box*/
           .fliptest1{
            max-width: 40%;
        }
        .collapsibleflip{
              float: left;
              margin-left: 5%;
              color: white;
              cursor: pointer;
              width:35%;
              text-align: left;
              padding: 0%;
              background-color: #176914;
              outline: none;
              font-family: 'Playfair Display', serif;
              clear: left;
            }
         
            .active, .collapsible:hover {
              background-color: rgb(141, 194, 124);
            }
      .fliph2{
          float: right;
          padding-right: 5%;
      }
      .textbox{
          clear: both;
      }
      /*next trial boxes just flip around with text on the back*/
      .fliptestimg2{
          max-width: 100%;
      }
      .flip-box1 {
          background-color: transparent;
          max-width: 35%;
          perspective: 1000px;
         
        }
        
        .flip-box-inner1 {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
        }
        
        .flip-box1:hover .flip-box-inner1 {
          transform: rotateY(180deg);
        }
        
        .flip-box-front1, .flip-box-back1 {
          position: absolute;
         /* width: 100%;
          height: 100%;*/
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        
        .flip-box-front1 {
          background-color: #bbb;
          color: black;
        }
        
        .flip-box-back1 {
          background-color: rgb(180, 180, 180);
          color: rgb(0, 0, 0);
          transform: rotateY(180deg);
          padding-left: 5%;
          padding-right: 5%;
        }
      
      /*end of flip arounds*/
      /*end of boxes styling*/
>>>>>>> 20982cb4af8bd4ae1a7799b8aafbe7151d5b3009
footer{
    grid-area: footer;

    }
.footerimgs{
    max-width: 10%;
}
.footerimgs2{
    max-width: 8%;
}

/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {

  .grid-container {
              display: grid;
              grid-template-areas:
          'nav nav nav nav nav nav'
          'header header header header header header'
          'main main main main main main'
          'main main main main main main'
          'footer footer footer footer footer footer';
              grid-gap: .5em;
          }
  
      /*  TEMPORARELY COMMENTED OUT TO AVOID ERROR TRIGGERING
      main {
      }
      footer {
      }*/
  }



/*SECOND BREAK POINT === mobile */
 @media only screen and (max-width : 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
    'nav nav nav nav nav nav'
    'header header header header header header'
    'main main main main main main'
    'main main main main main main'
    'footer footer footer footer footer footer';
        grid-gap: .5em;
    }
    /*changing boxes to show one by one on mobile view*/
    .collapsible {
        float:none;
        margin-left: 5%;
        margin-right: 5%;
        padding: .3%;
        width: 90%;
        text-align: center;
        padding-left: 0%;
        border-radius: .5%;
        vertical-align: middle;
      }
        
      .active, .collapsible:hover {
        background-color: rgb(141, 194, 124);
      }
          
      .content {
        float: none;
        clear: both;
        margin-left: 5%;
        padding:  5%;
        border-radius: 10%;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
        max-width: 80%;
      }
          
      .collapsible2 {
            float:none;
            margin-left: 5%;
            margin-right: 5%;
            padding: .3%;
            width: 90%;
            text-align: center;
            padding-left: 0%;
            border-radius: .5%;
            vertical-align: middle;
          }
          .active, .collapsible2:hover {
            background-color: rgb(141, 194, 124);
          } 
      .content2 {
        float: none;
        clear: both;
        margin-left: 5%;
        padding:  5%;
        border-radius: 10%;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
        max-width: 80%;
      }
        /*  TEMPORARELY COMMENTED OUT TO AVOID ERROR TRIGGERING
        main {

        }
        footer {
        }
        */
    }


    