
.img{
  max-width: 75%;
  margin-inline-start: 15%;
}
.imageCitations{
  margin-inline-start: 40%;
  clear: both;
}


aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  background-color: lightgray;
}


blockquote{
  font-size:10pt;
}
.citations{
  font-size:10pt;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  aside{ width: 100%;
  padding-left: 0;
  margin-left: 0;
  float: center;
  background-color: lightgray; }

.img{
  max-width: 100%;
  margin-inline-start: 0%;
}
.imageCitations{
  margin-inline-start: 5%;
  clear: both;
  }}
