/* can make max-width: 70% so the same as other pages- easier to merge later 05/03 Teryn*/
.img{
  max-width: 75%;
  margin-inline-start: 15%;
}
.imageCitations{
  margin-inline-start: 40%;
  clear: both;
}


aside {
  width: 30%;
  padding-left: 15px;
  /* as on poc.css right and bottom padding help center text  
  padding-right: 15px;
  padding-bottom: 15px;
  */
  margin-left: 15px;
  float: right;
  background-color: lightgray;
}


blockquote{
  font-size:10pt;
}
.citations{
  font-size:10pt;
  text-decoration: underline;
}

/* break point added for images to be larger in tablet view
@media screen and (max-width: 1000px){ 
.img{
    max-width: 100%;
    margin-inline-start: 0%;
      }
*allows aside to be centered sooner so there's not a weird gap as the screen size decreases
    aside{
      float: none;
      width: 90%;
    }
}
*/
@media screen and (max-width: 800px) {
  /*this not necessary as starts at 1000px*/
  aside{ 
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  /*float: center;*/
  background-color: lightgray; }
 /*this not necessary as starts at 1000px*/
.img{
  max-width: 100%;
  margin-inline-start: 0%;
}
.imageCitations{
  margin-inline-start: 5%;
  clear: both;
  }}
